body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

input {
  padding: 10px 20px;
  font-size: 18px;
  outline: none;
}

a {
  font-size: 18px;
  text-decoration: none;
  margin-left: 20px;
}

p {
  margin: 20px;
  display: block;
  font-size: 20px;
}

select {
  margin: 30px;
  padding: 10px;
  font-size: 18px;
}

option {
  font-size: 18px;
}